<a href="https://colab.research.google.com/github/EAFIT-BI/Programming-for-Business-2025-I/blob/main/Recapitulaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Importamos las librerías necesarias
import pandas as pd
import numpy as np

transacciones = pd.DataFrame({
    'Número': [1,2,3,4,5,6,7,8,9,10],
    'Cuenta': ['Cuentas por pagar','Pago proveedores','Ventas',
               'Pago proveedores','Ventas','Ventas','Cuentas por pagar',
               'Pago proveedores','Pago proveedores','Ventas'],
    'Departamento': ['Recursos humanos', 'Marketing', 'Clientes',
                     'Recursos humanos', 'Marketing', 'Clientes',
                     'Recursos humanos', 'Marketing', 'Clientes',
                     'Recursos humanos'],
        'Monto': [3000000, 2500000, 450000, 350000, 5000000, 560000,
                  128000, 2750000, 250000, 820000]
})

In [4]:
transacciones

   Número             Cuenta      Departamento    Monto
0       1  Cuentas por pagar  Recursos humanos  3000000
1       2   Pago proveedores         Marketing  2500000
2       3             Ventas          Clientes   450000
3       4   Pago proveedores  Recursos humanos   350000
4       5             Ventas         Marketing  5000000
5       6             Ventas          Clientes   560000
6       7  Cuentas por pagar  Recursos humanos   128000
7       8   Pago proveedores         Marketing  2750000
8       9   Pago proveedores          Clientes   250000
9      10             Ventas  Recursos humanos   820000

In [5]:
# Calculamos la moda de la columna Cuenta
cuenta_moda = transacciones['Cuenta'].mode()
cuenta_moda

0    Pago proveedores
1              Ventas
Name: Cuenta, dtype: object

In [6]:
# Calculamos el promedio del Monto
monto_promedio = transacciones['Monto'].mean()
monto_promedio

1580800.0

In [7]:
# Calculamos la suma de la columna Número
numero_suma = transacciones['Número'].sum()
numero_suma

55

In [10]:
# Hacemos el conteo de la columna Monto
monto_conteo = transacciones['Monto'].count()
monto_conteo

10

In [11]:
# Calculamos la mediana de la columna Monto
monto_mediana = transacciones['Monto'].median()
monto_mediana

690000.0

In [12]:
# Agrupamos por Cuenta y calculamos la suma del Monto
monto_por_cuenta = transacciones.groupby('Cuenta')['Monto'].sum()
monto_por_cuenta

Cuenta
Cuentas por pagar    3128000
Pago proveedores     5850000
Ventas               6830000
Name: Monto, dtype: int64

In [13]:
# Agrupamos por Departamento y calculamos el promedio del Monto
monto_por_departamento = transacciones.groupby('Departamento')['Monto'].mean()
monto_por_departamento

Departamento
Clientes            4.200000e+05
Marketing           3.416667e+06
Recursos humanos    1.074500e+06
Name: Monto, dtype: float64